.message {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#datosPersonales {
	padding-top: 2rem;
}

.nav>li>#chats:focus, .nav>li>#chats:hover {
    background-color: #2e6da4;
}

.glyphicon-remove {
	color: darkred;
}