@import url(https://fonts.googleapis.com/css?family=Montserrat);

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

html {
   height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.topnav {
    font-size: 14px; 
}

#header {
    margin-bottom: 75px;
}

footer {
   padding: 25px 0;
   background-color: #f8f8f8;
   border-top: 1px solid #e7e7e7;
}

.banner {
    padding: 50px 0;
    margin: 50px 0px 100px 0px;
    color: #f8f8f8;
    background: url(../images/banner/banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

p.copyright {
    margin: 15px 0 0;
}