@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    height: 100%;
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding: 6rem 0rem 13.85rem 0rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5rem 0rem 2.5rem 0rem;
    background-color: #efefef;
    text-align: center;
    border-top: solid 1px #e7e7e7;
}

/*BANNER SOCIAL BUTTONS*/  
.banner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5rem 0rem 8.5rem 0rem;
    color: #f8f8f8;
    background: url(../images/banner/banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    margin-top: 0;
}

  