#cont1 {
  background-color: lightgrey;
}

#cont2 {
  background-color: lightblue;
}

.glyphicon-ok {
	color: darkgreen;
}

.glyphicon-remove {
	color: darkred;
}

.footer {
	border-top: 1px solid #e7e7e7;
}