<input type="text" name="name" ng-model="name" placeholder="Precio"/>
<input type="text" name="firstname" ng-model="firstName" placeholder="Metros cuadrados"/>
<input type="text" name="lastname" ng-model="lastName" placeholder="Habitaciones"/>
<select id="selectComunidadAutonoma">
        <option translate="Comunidad autónoma"></option>
        <option ng-repeat="autonomousCommunity in autonomousCommunities track by $index" translate="{{autonomousCommunity.name}}" value="{{autonomousCommunity}}"></option>
      </select>