<!DOCTYPE html>
<html lang="es" ng-app="buscoPiso">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BuscoPiso</title>
    
    <!--JQUERY-->
    <script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
    <!--ANGULAR-->
    <script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
    <!--BOOTSTRAP-->
    <link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--ANGULAR BOOTSTRAP-->
    <script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
    <!--ANGULAR PAGINATION-->
    <script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
    <!--ANGULAR TRANSLATE-->
    <script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
    <!--SATELLIZER-->
    <script src="../vendors/satellizer/dist/satellizer.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../vendors/satellizer/dist/satellizer.min.js" type="text/javascript" xml:space="preserve"></script>

    <!-- APP -->    
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
    <!-- CONTROLLER -->
    <script src="../js/controller/resetPassword.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/controller/headerAndFooter.js" type="text/javascript" xml:space="preserve"></script>     
    <!-- MODEL -->
    <script src="../js/model/Users.js" type="text/javascript" xml:space="preserve"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/loginAndContact.css" />
    <!-- MONTSERRAT FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">   

</head>
<body ng-controller="ResetPasswordController as resetPasswordCtrl">

    <div ng-include="'headerAndFooter.html'"></div>
    
    <div id="formulary" class="container">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <h2 class="h2">Reset password</h2>
            <hr>
            <form name="loginManagement" method="post" novalidate ng-submit="loginManagement.$valid && !LoginCtrl.login()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="email" id="email" name='email' ng-model="email" class="form-control" placeholder="Email address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input id="oldPassword" class="form-control" name='oldPassword' ng-model="oldPassword" type="oldPassword" placeholder="Old password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                        <input id="newPassword" class="form-control" name='newPassword' ng-model="newPassword" type="newPassword" placeholder="New password">
                    </div>
                </div> 
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                        <input id="repeatPassword" class="form-control" name='repeatPassword' ng-model="repeatPassword" type="repeatPassword" placeholder="Repeat password">
                    </div>
                </div> 
                <div class="alert alert-danger col-xs-12" ng-if="flag==false" translate="Incorrect email or password"></div>
                <div class="form-group">
                    <button class="btn btn-success col-xs-12" name="insert_user" type="button" value="ok" ng-click="LoginCtrl.login()">Submit</button>
                    <div><br></div><br>
                    <hr>
                    <div class="link">Not registered?<a href="{{register}}"> Create an account</a></div> 
                </div>
            </form>
        </div>
    </div>
</body>
</html>